@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

@font-face {
    font-family: android;
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: #ebe5c5; 
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
   
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.439);
}

header > p{
 color: white;   
 font-family: var(--fonte-padrao);
 font-size: 1.2em;
 max-width: 500px;
 margin: auto;
 padding-left: 10px;
 padding-right: 10px;
 text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.439);

}

main p {
margin: 15px 0px 15px 0px;
text-align: justify;
text-indent: 30px;
line-height: 2em;
font-size: 1em;

}

main strong{
    color: var(--cor4);
    font-weight: bold;
    
}

main a{ 
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;

}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}



nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.358);
    
}

nav > a{
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: .5s;
    border-radius: 5px;
   
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.436);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 2em;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h2{
    font-family: var(--fonte-android);
    color: #063d1e;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside{
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 10px;

}

aside > ul{
    list-style: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
    border-style: dashed;
    padding: 5px;

}
aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -20px -20px 0px -20px;
}
footer{
    margin-top: 30px;
    font-size: 0.8em;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
}
footer > p{
    text-shadow: 2px 2px 0px black;
    
}